html {
  padding: 1rem;
  background: rgb(247, 247, 247);
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 960px;
  background: white;
}

h1 {
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  background: lightgray;
}

nav h1 {
  margin: 0;
  flex: auto;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid lightgray;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  padding: 1em;
  margin: 1em 0;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  font-size: 0.85em;
  align-items: flex-end;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

button.danger {
  color: #cc2f2e;
}

button[type="submit"] {
  min-width: 10em;
  align-self: start;
}
